<footer class="site-footer h-card">

<style>
    .colfooter {
      float: left;
      width: 33.33%;
      text-align: center;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
    }
}
</style>

<div class=row>

    <div class="colfooter">
        <p>© {{ site.time | date: '%Y' }} Fanny Desarzens</p>
    </div>
    <div class="colfooter">
        <p style="font-size: 14px; color: grey;"> {{ site.footerphrase }} </p>
        </div>
    <div class="colfooter"><a href="url">Un lien sur insta?</a></div>

</footer>